# identifica o SEU SSD: versione só o .example
guarda_ssd_config.json
# nome usado até a 2.1
sync_ssd_config.json

# saída local do script
*.log
ultimo_resultado.json
sync.lock

__pycache__/
*.pyc

#Ferramenta local
Publicar no GitHub.bat